<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abmatrix.bool.tg.dao.mapper.RankMapper">
	<select
		id="pageRank"
		resultType="com.abmatrix.bool.tg.common.model.vo.UserRankVo">
		select
-- 		t1.username,t2.rewardValue,t1.is_verify,t1.id userId
		t1.username,t2.rewardValue,t1.id userId
		from
		bool_user_user t1
		inner
		join (
		SELECT
		sum(reward_value) rewardValue,
		user_id
		from
		bool_user_reward_record
		group by
		user_id
		order by
		rewardValue desc ,
		user_id asc
		limit #{start},
		#{limit}) t2 on
		t1.id = t2.user_id
	</select>


	<select
		id="total"
		resultType="java.lang.Long">
		SELECT COUNT(id) FROM bool_user_user
	</select>
</mapper>
